node_modules
vendor
.git
.env
public/build
public/storage
storage/*.key
storage/framework/cache/data/*
storage/framework/views/*.php
storage/framework/sessions/*
storage/logs/*.log
docker-compose.yml
.dockerignore
.gitignore
.editorconfig
.styleci.yml
phpunit.xml
tests
